.text-center {
  text-align: center;
}

html {
  background-color: aliceblue;
}
.summoner-name {
  width: 100%;
  display: flex;
  font-size: 50px;
  height: 50px;
  justify-content: center;
  position: fixed;
  background-color: grey;
  padding-bottom: 10px;
  box-shadow: 2px 3px 8px black;
  top: 0
}

.summoner-name>span {
  margin-left: 15px;
  margin-right: 15px;
}

.champs {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
    text-align: center;
    padding-top: 70px;
}

.champ:hover {
  opacity: 0.6;
  }

.text-center {
  text-align: center;
}

html {
  background-color: aliceblue;
}
.summoner-name {
  width: 100%;
  display: flex;
  font-size: 50px;
  height: 50px;
  justify-content: center;
  position: fixed;
  background-color: grey;
  padding-bottom: 10px;
  padding-top: 10px;
  box-shadow: 2px 3px 8px black;
  top: 0;
  z-index: 10;
}

.summoner-name>span {
  margin-left: 15px;
  margin-right: 15px;
}

.champs {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
    text-align: center;
    padding-top: 70px;
}

.champ:hover {
  opacity: 0.6;
  cursor: pointer;
}

.submit-name {
  margin-top: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container {
  position: relative;
}

.image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  cursor: pointer;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  font-size: 16px;
  cursor: pointer;
}

.submit-name {
  margin-top: 100px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.favorite {
  width: 50px;
}

.favorite:hover {
  cursor: pointer;
  border-radius: 100px;
  background-color: pink;
}
