.text-center {
  text-align: center;
}

.summoner-name {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 10vw;
  display: flex;
  font-size: 50px;
  height: 50px;
  justify-content: center;
}

.champs {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 96vw;
    text-align: center;
}
